.sp{
    padding: 3px;
    background-color: #F3F4F6;
}



















































/* <div class="d-flex p-2" style="">
          <div class="sl d-flex flex-column gap-1">
            <div class="d-flex align-items-center gap-2">
              <div style="height: 100px; width: 150px">
                <img
                  class="h-100 w-100 object-fit-cover px-2"
                  src="./image/pexels-bess-hamiti-83687-36487.jpg"
                  alt="error"
                />
              </div>
              <div class="smallp" style="width: 300px">
                Querying a network of knowledge knowledge
                <div style="font-size: xx-small; width: 270px">
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                </div>
              </div>
            </div>
          </div>
        </div> */


/* <div class="d-flex p-2" style="">
          <div class="sl d-flex flex-column gap-1">
            <div class="d-flex align-items-center gap-2">
              <div style="height: 100px; width: 150px">
                <img
                  class="h-100 w-100 object-fit-cover px-2"
                  src="./image/pexels-8moments-1323550.jpg"
                  alt="error"
                />
              </div>
              <div class="smallp" style="width: 300px">
                Querying a network of knowledge knowledge
                <div style="font-size: xx-small; width: 270px">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text
                </div>
              </div>
            </div>
          </div>
       </div> */